<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="0">
    <test name="Tests"> 
        <classes>
            <class name="tests.api.EmployeeApiTest"/>
            <!-- <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.DashboardTest"/>
            <class name="tests.ui.LogoutTest"/> -->
        </classes>
    </test>
</suite>